@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'S-CoreDream-3Light'
}
/* hide */
.hide{position:absolute;
    clip:rect(0 0 0 0);
    width:1px;
    height:1px;
    margin:-1px;
    overflow:hidden
}

.title_a{
    text-decoration: none;
    font-weight: bold;
    color: #82ea9c;
}

.title_a:hover{
    color: #16c37b;
}

@media ( min-width: 375px ) and ( max-width: 799px ) {
    /* header */
    header{font-size: 15px;}
    /* content_tb, notice_tb */
    .content_tb{position: relative; width: 375px;margin: 20px auto;}
    /* select */
    .content_tb select{font-size: 20px;position: absolute;top: 0;right: 40px;}
    
    .notice_tb{width: 375px;margin: 20px auto;
        border-top: 2px solid #16c37b;
        border-bottom:1px solid #555;
        border-collapse: collapse;
    }
    th,td{text-align: center;}

    caption{padding-left : 20px; text-align: left; font-size: 15px; margin-bottom: 20px;}
    caption span{font-size: 18px; font-weight: bold; color: tomato;}

    thead tr{height: 70px;}
    thead tr th{border-bottom: 1px solid #ccc;}

    /* tbody tr{height: 35px;} */
    /* tbody tr:hover{background: white;
    background: -webkit-linear-gradient(110deg, white, lightyellow);
    background: -moz-linear-gradient(110deg, white, lightyellow);
    background: -o-linear-gradient(110deg, white, lightyellow);
    background: linear-gradient(110deg, white, lightyellow);
    border-radius: 30px 30px;cursor: pointer;} */
    tbody tr td{border-bottom: 1px solid #eee;}
    tbody .td_address{position: relative; padding-left : 10px;text-align: left;}
    tbody .td_address .sp_name{color: darkgoldenrod;font-size: 18px; font-weight: bold; margin-right: 8px;}
    /* tbody .td_address button{position: absolute; top: 90px; right: 150px;} */
    tbody .td_address .sp_address{color: midnightblue;}

    /* detail */
    .detail{position: relative; width: 375px;margin: 20px auto;box-sizing: border-box;}
    .detail .btn_area{position: absolute; top:20px; right:10px;}
    .detail .btn_area button{font-size: 18px;}
    .detail hr{border-top: 2px solid #16c37b;}
    .detail .info_content{
        padding-top: 15px;
        padding-bottom: 15px;
        background: white;
        background: -webkit-linear-gradient(110deg, white, lightyellow);
        background: -moz-linear-gradient(110deg, white, lightyellow);
        background: -o-linear-gradient(110deg, white, lightyellow);
        background: linear-gradient(110deg, white, lightyellow);
        border-radius: 30px 30px;
        box-sizing: border-box;
    }

    .detail .sp_title{font-size: 23px; font-weight: bold;color: darkgoldenrod;}
    .detail .sp_thumbnail img{border-radius: 10px 10px;}
    .detail .info_map{font-size: 14px; border: 2px groove #82ea9c; border-radius: 10px 10px;box-sizing: border-box;margin-bottom: 10px;padding: 10px 5px;color:#78b0d1;background-color:rgb(251, 251, 251)}
    .detail .visit_map h2,h3{color: midnightblue;}
    .detail .park_map{width: 340px;margin: 10px auto; height:300px;border: 2px groove tomato; border-radius: 10px 10px;background-color:rgb(251, 251, 251);}
    .detail .ta_detail{
        width: 375px;
        margin: 0 auto 6px;
        font-size: 14px; font-weight: bold;
        color: midnightblue;
        border: 2px groove mediumblue;
        border-radius: 10px 10px;
        padding: 25px 12px;
        background-color: rgb(251, 251, 251);
        box-sizing: border-box;
    }
    .detail .park_pano{width: 375px;height:400px;border: 2px groove aquamarine; border-radius: 10px 10px;margin-bottom: 10px;background-color:rgb(251, 251, 251);box-sizing: border-box;}
    .detail .park_image{width: 375px;height:250px;border: 2px groove #16c37b; border-radius: 10px 10px;margin-bottom: 10px;background-color:rgb(251, 251, 251);background: url(../../images/park.jpg) no-repeat;box-sizing: border-box;}
    .detail .park_image2{width: 375px;height:250px;border: 2px groove #16c37b; border-radius: 10px 10px;margin-bottom: 10px;background-color:rgb(251, 251, 251);background: url(../../images/park2.jpg) no-repeat;box-sizing: border-box;}
    .detail .park_image3{width: 375px;height:250px;border: 2px groove #16c37b; border-radius: 10px 10px;margin-bottom: 10px;background-color:rgb(251, 251, 251);background: url(../../images/park3.jpg) no-repeat;box-sizing: border-box;}
    
    .detail .etcs{width: 375px;font-size: 14px; text-align: left; justify-content: space-between; margin-bottom: 10px;color:indianred;}
    .detail .etcs .main_equip{border: 2px groove #16c37b;border-radius: 10px 10px;box-sizing:border-box;padding: 10px 25px;background-color:rgb(251, 251, 251);font-weight: bold;}
    .detail .etcs .main_equip h2,h3{color: darkgoldenrod;}
    .detail .etcs .adminpart{border: 2px groove #16c37b;border-radius: 10px 10px;box-sizing: border-box;padding: 10px 25px;background-color:rgb(251, 251, 251);font-weight: bold;}
    .detail .etcs .adminpart h2,h3{color: darkgoldenrod;}
    .detail .etcs .adminpart div{padding-top: 20px;padding-bottom: 30px;}
    .detail .visit_road{font-size: 14px; border: 2px groove #16c37b; border-radius: 10px 10px;box-sizing: border-box;margin-bottom: 10px;padding: 10px 25px;color:#78b0d1;background-color:rgb(251, 251, 251)}
    .detail .visit_road h2,h3{text-align: left;color: darkgoldenrod;}
    .detail .around_map{width: 340px;margin: 10px auto; height:300px;border: 2px groove tomato; border-radius: 10px 10px;background-color:rgb(251, 251, 251);}
    .detail .around_map .overlay{height: 20px; font-size: 15px; font-weight: bold; color: orchid;background: white;border: 2px groove #78b0d1; border-radius: 5px 5px; padding: 1px 3px;}
}
@media ( min-width: 800px ) {
    /* header */
    header{font-size: 20px;}
    
    /* content_tb, notice_tb */
    .content_tb{position:relative;width: 800px;margin: 20px auto;}

    /* select */
    .content_tb select{font-size: 20px;position: absolute;top: 0;right: 40px;}

    .notice_tb{width: 800px;margin: 20px auto;
        border-top: 2px solid #16c37b;
        border-bottom:1px solid #555;
        border-collapse: collapse;
    }
    th,td{text-align: center;}

    caption{padding-left : 20px; text-align: left; font-size: 15px; margin-bottom: 20px;}
    caption span{font-size: 18px; font-weight: bold; color: tomato;}

    thead tr{height: 70px;}
    thead tr th{border-bottom: 1px solid #ccc;}

    /* tbody tr{height: 35px;} */
    tbody tr:hover{background: white;
    background: -webkit-linear-gradient(110deg, white, lightyellow);
    background: -moz-linear-gradient(110deg, white, lightyellow);
    background: -o-linear-gradient(110deg, white, lightyellow);
    background: linear-gradient(110deg, white, lightyellow);
    border-radius: 30px 30px;cursor: pointer;}
    tbody tr td{border-bottom: 1px solid #eee;}
    tbody .td_address{position: relative; padding-left : 28px;text-align: left;}
    tbody .td_address .sp_name{color: darkgoldenrod;font-size: 18px; font-weight: bold; margin-right: 8px;}
    /* tbody .td_address button{position: absolute; top: 90px; right: 150px;} */
    tbody .td_address .sp_address{padding-left : 55px;color: midnightblue;}

    /* detail */
    .detail{position: relative; width: 800px;margin: 20px auto;box-sizing: border-box;}
    .detail .btn_area{position: absolute; top:10px; right:50px;}
    .detail .btn_area button{font-size: 18px;}
    .detail hr{border-top: 2px solid #16c37b;}
    .detail .info_content{
        padding-top: 15px;
        padding-bottom: 15px;
        background: white;
        background: -webkit-linear-gradient(110deg, white, lightyellow);
        background: -moz-linear-gradient(110deg, white, lightyellow);
        background: -o-linear-gradient(110deg, white, lightyellow);
        background: linear-gradient(110deg, white, lightyellow);
        border-radius: 30px 30px;
        box-sizing: border-box;
    }
    .detail .sp_title{font-size: 30px; font-weight: bold;color: darkgoldenrod;}
    .detail .sp_thumbnail img{border-radius: 10px 10px;}
    .detail .info_map{font-size: 14px; border: 2px groove #82ea9c; border-radius: 10px 10px;box-sizing: border-box;margin-bottom: 10px;padding: 10px 5px;color:#78b0d1;background-color:rgb(251, 251, 251)}
    .detail .visit_map h2,h3{color: midnightblue;}
    .detail .park_map{width: 750px;margin: 10px auto; height:300px;border: 2px groove tomato; border-radius: 10px 10px;background-color:rgb(251, 251, 251);}
    .detail .ta_detail{
        width: 800px;
        margin: 0 auto 6px;
        font-size: 16px; font-weight: bold;
        color: midnightblue;
        border: 2px groove mediumblue;
        border-radius: 10px 10px;
        padding: 25px 12px;
        background-color: rgb(251, 251, 251);
        box-sizing: border-box;
    }
    .detail .park_pano{width: 800px;height:400px;border: 2px groove aquamarine; border-radius: 10px 10px;margin-bottom: 10px;background-color:rgb(251, 251, 251);box-sizing: border-box;}
    .detail .park_image{width: 800px;height:250px;border: 2px groove #16c37b; border-radius: 10px 10px;margin-bottom: 10px;background-color:rgb(251, 251, 251);background: url(../../images/park.jpg) no-repeat;}
    .detail .park_image2{width: 800px;height:250px;border: 2px groove #16c37b; border-radius: 10px 10px;margin-bottom: 10px;background-color:rgb(251, 251, 251);background: url(../../images/park2.jpg) no-repeat;}
    .detail .park_image3{width: 800px;height:250px;border: 2px groove #16c37b; border-radius: 10px 10px;margin-bottom: 10px;background-color:rgb(251, 251, 251);background: url(../../images/park3.jpg) no-repeat;}
    
    .detail .etcs{width: 800px;display: flex; font-size: 14px; text-align: left; justify-content: space-between; margin-bottom: 10px;color:indianred;}
    .detail .etcs .main_equip{width: 500px;border: 2px groove #16c37b;border-radius: 10px 10px;box-sizing:border-box;padding: 10px 25px;background-color:rgb(251, 251, 251);font-weight: bold;}
    .detail .etcs .main_equip h2,h3{color: darkgoldenrod;}
    .detail .etcs .adminpart{width: 290px;border: 2px groove #16c37b;border-radius: 10px 10px;box-sizing: border-box;padding: 10px 25px;background-color:rgb(251, 251, 251);font-weight: bold;}
    .detail .etcs .adminpart h2,h3{color: darkgoldenrod;}
    .detail .etcs .adminpart div{padding-top: 20px;padding-bottom: 30px;}
    
    .detail .visit_road{font-size: 14px; border: 2px groove #16c37b; border-radius: 10px 10px;box-sizing: border-box;margin-bottom: 10px;padding: 10px 25px;color:#78b0d1;background-color:rgb(251, 251, 251)}
    .detail .visit_road h2,h3{text-align: left; color: darkgoldenrod;}
    .detail .around_map{width: 750px;margin: 10px auto; height:300px;border: 2px groove tomato; border-radius: 10px 10px;background-color:rgb(251, 251, 251);}
    .detail .around_map .overlay{height: 20px; font-size: 15px; font-weight: bold; color: orchid;background: white;border: 2px groove #78b0d1; border-radius: 5px 5px; padding: 1px 3px;}
}